/*Height -------------------------------*/
.ti-load{
    border: 5px solid  rgb(221, 221, 221);
    border-top: 5px solid rgb(6, 139, 255);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    position: absolute;
}

.hide-load{
    display: none;
}

@keyframes spin{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.ti-con{
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.ti-con.show{
    pointer-events: auto;
    opacity: 1;
}

.Tiphoid{
    background-color: rgb(6, 139, 255);
    color: rgb(221, 221, 221);
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    text-align: center;
}

/*Height -------------------------------*/
.hem-load{
    border: 5px solid  rgb(221, 221, 221);
    border-top: 5px solid rgb(6, 139, 255);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    position: absolute;
}

.hem-con{
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.hem-con.show{
    pointer-events: auto;
    opacity: 1;
}

.Hemoglobin{
    background-color: rgb(6, 139, 255);
    color: rgb(221, 221, 221);
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    text-align: center;
}

/*Height -------------------------------*/
.glu-load{
    border: 5px solid  rgb(221, 221, 221);
    border-top: 5px solid rgb(6, 139, 255);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    position: absolute;
}

.glu-con{
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.glu-con.show{
    pointer-events: auto;
    opacity: 1;
}

.Glucose{
    background-color: rgb(6, 139, 255);
    color: rgb(221, 221, 221);
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    text-align: center;
}

/*Height -------------------------------*/
.hiv-load{
    border: 5px solid  rgb(221, 221, 221);
    border-top: 5px solid rgb(6, 139, 255);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    position: absolute;
}

.hiv-con{
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.hiv-con.show{
    pointer-events: auto;
    opacity: 1;
}

.HIV{
    background-color: rgb(6, 139, 255);
    color: rgb(221, 221, 221);
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    text-align: center;
}

/*Height -------------------------------*/
.wel-load{
    border: 5px solid  rgb(221, 221, 221);
    border-top: 5px solid rgb(6, 139, 255);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    position: absolute;
}

.wel-con{
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.wel-con.show{
    pointer-events: auto;
    opacity: 1;
}

.wel{
    background-color: rgb(6, 139, 255);
    color: rgb(221, 221, 221);
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    text-align: center;
}