/*Height -------------------------------*/
.near-con{
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.near-con.show{
    pointer-events: auto;
    opacity: 1;
}

.n{
    background-color: rgb(6, 139, 255);
    color: rgb(221, 221, 221);
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    text-align: center;
}

/*Height -------------------------------*/
.far-con{
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.far-con.show{
    pointer-events: auto;
    opacity: 1;
}

.f{
    background-color: rgb(6, 139, 255);
    color: rgb(221, 221, 221);
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    text-align: center;
}