body{
    color: rgb(6, 139, 255);
    background-color: rgb(221, 221, 221);
    padding: 50px;
}


.brand-logo{
    width: 60px;
}

.brand-product{
    display: inline;
    font-size: 50px;
    margin: 0;
    position: absolute;
    padding-left: 10px;
    text-decoration: none;
    font-family: Ubuntu;
}


.main{
    padding: 80px 0 0;
}


.function-title{
    background-color: rgb(6, 139, 255);
    color: rgb(221, 221, 221);
    text-align: center;
    padding: 125px 50px;
    border-radius: 100%;
    width: 450px;
    height: 450px;
}

.f-title-head{
    font-size: 70px;
    font-family: Ubuntu;
}

.fun-col{
    text-align: center;
    width: 993px;
}

.function{
    padding: 20px;
}

.fun-btn
{
    width: 250px;
}

.report{
    margin-top: 30px;
}
